@{
    Layout = "~/Views/Shared/_LayoutFormando.cshtml";
    ViewData["Title"] = "Actividades - Lista";
}

<h2>Cadastro realizado com sucesso</h2>
<p>A Actividade foi cadastrada com êxito.</p>
<a class="btn btn-primary" asp-action="Create">Nova Actividade</a>