@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Sede - Lista";
}

<h2>Cadastro realizado com sucesso</h2>
<p>A sucursal foi cadastrada com êxito.</p>
<a class="btn btn-primary" asp-action="Create">Nova Sucursal</a>